<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
    {% for key, value in namespace_list.items %}
    xmlns:{{ key }}="{{ value }}"
    {% endfor %}
    version="HTML+RDFa 1.1">

    <head>
        <meta charset="utf-8" />
        <title>{{ title  }}</title>

        <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet'>
        <link href="/static/components/semantic-grid/stylesheets/reset.css" rel="stylesheet">
        <link href="/static/css/reader.css" rel="stylesheet">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="/en/">english</a></li>
                <li><a href="/fr/">français</a></li>
                <li><a href="/es/">español</a></li>
            </ul>
        </nav>

        <header>
            <h1>Considering your tools</h1>
            <h2>A reader for designers and developers</h2>
        </header>

        {% for key, values in meta.items %}
        <tr>
            <td>{{key}}</td>
            {% for v in values %}
            <td>{{v}}</td>
            {% endfor %}
        </tr>
        {% endfor %}

        <hr />

        <article id="main">
            <header>
                <p property="dc:author">{{ meta.author }}</p>
                <h1>{{ meta.title.0 }}</h1>
            </header>
            {{ body|safe }}
        </article>
    </body>
</html>



