@import '../components/semantic-grid/stylesheets/less/grid.less';

@column-width: 60;
@gutter-width: 20;
@columns: 12;

@font-size: 17px;
@line-height: 26px;


@font-face {
    font-family: 'Charis';
    src: url('/static/font/CharisSIL-4.114-web/web/CharisSIL-R.woff') format('woff'),
         url('/static/font/CharisSIL-4.114-web/CharisSIL-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Charis';
    src: url('/static/font/CharisSIL-4.114-web/web/CharisSIL-I.woff') format('woff'),
         url('/static/font/CharisSIL-4.114-web/CharisSIL-I.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Charis';
    src: url('/static/font/CharisSIL-4.114-web/web/CharisSIL-B.woff') format('woff'),
         url('/static/font/CharisSIL-4.114-web/CharisSIL-B.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Charis';
    src: url('/static/font/CharisSIL-4.114-web/web/CharisSIL-BI.woff') format('woff'),
         url('/static/font/CharisSIL-4.114-web/CharisSIL-BI.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


body {
    margin: 120px;
    /*font-family: 'Gentium Basic', serif;*/
    /*font-size: 20px;*/
    /*line-height: 27px;*/

    /*font-family: 'Bitter', serif;*/
    /*font-size: 16px;*/
    /*line-height: 24px;*/
    font-family: 'Charis', serif;
    font-size: @font-size;
    line-height: @line-height;
    color: #222;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "dlig", "clig", "kern", "onum";
  -webkit-font-feature-settings: "liga", "dlig", "clig", "kern", "onum";
  -o-font-feature-settings: "liga", "dlig", "clig", "kern", "onum";
    /*font-variant-numeric: lining-nums;*/
    /*-moz-font-feature-settings:"lnum" 1; */
    /*-moz-font-feature-settings:"lnum=1"; */
    /*-ms-font-feature-settings:"lnum" 1; */
    /*-o-font-feature-settings:"lnum" 1; */
    /*-webkit-font-feature-settings:"lnum" 1; */
    /*font-feature-settings:"lnum" 1;*/
}

article { 
    .column(9); 
}

em {
    font-style: italic;
}

p + p {
    text-indent: 48px;
}

figure {
    margin: @line-height 0;

    img {
        max-width: 100%;
    }
}

h2 {
    margin: @line-height 0;
    font-weight: bold;
}

sup {
    /*font-size: @font-size - 5;*/
    /*line-height: @line-height - 5;*/
    /*vertical-align: 5px;*/
    font-feature-settings: "sups";
    /* vendor-prefixes */
    -moz-font-feature-settings: 'sups=1';
    -ms-font-feature-settings: "sups";
    -webkit-font-feature-settings: "sups";
    -o-font-feature-settings: "sups";

    a {
        text-decoration: none;
    }
}

ul {
    li:before {
        content: "\2014 ";
    }
}

ol {
    li {
        list-style-type: decimal-leading-zero;
    }
}

abbr {
    text-transform: lowercase;
    font-variant: small-caps;
}

code {
    font-family: 'Cutive Mono', monospace;
    margin: 0 0.25em;
}

pre {
    margin: @line-height 0;

    code {
        margin: 0;
    }
}

blockquote {
    margin: @line-height 2 * @line-height;
    font-style: italic;
}

.footnote {
    font-size: smaller;

    hr {
        border: none;
        height: 1px;
        background-color: black;
    }
}
